<h1>My Rails Girls Diary</h1>
  <div>
    <% @entries.each do |entry| %>
      <h2> <%= entry.title %> </h2>
      <p> <%= entry.date %> </p>
      <p> <%= entry.content %> </p>
    <% end %>
  </div>
  <div>
  <h1>My favourite websites</h1>
    <ul>
      <% if @websites.empty? %>
        <%= "I will add something later" %>
      <% else %>
        <% @websites.each do |url, name| %>
          <li><a href="<%= url %>"><%= name %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <img src="http://railsgirls.com/images/rg-warsaw.png" />